<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выход из аккаунта</title>
    <style>
            .copyright {
        position: [I]justfily[/I];
        bottom: 1em;
        right: 1em;
        text-align: right;
        font-family: Times New Roman; font-size: 16px;
       }
    </style>
</head>
<div style="background-image: url({% static 'images/logo.png' %});   background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    max-heignt: 100%;
    weight: auto;
    position: absolute;
    width: 100%;"/>
<body>

{% block content %}
<p>Вы успешно вышли из аккаунта!</p>

<a href="{% url 'login'%}">Нажмите сюда, чтобы снова авторизироваться.</a>
{% endblock %}

<div class="copyright" style="bottom: 0, position: absolute; left: 50%; text-align: center;">This is the Website of Tomsk Industrial Electonics LLC.<br> We provide maintaince of manned oil and gas electronics.<br> Currently this website is under construction.<br> You can contact us by e-mail: service@tomprel.ru <br>All the best :)</div>

</body>
</html>