<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style>
            .copyright {
        position: [I]justfily[/I];
        bottom: 1em;
        right: 1em;
        text-align: right;
        font-family: Times New Roman; font-size: 16px;
       }
    </style>
</head>


{% block content %}

<p style="text-align: center;">
    <img src='{% static "images/logo.jpg" %}' width="215" height="265" alt="tomprel_logo">
</p>


{% if form.errors %}
  <p style="text-align: center;">
  Логин и пароль не совпадают. Пожалуйста, попытайтесь снова.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p style="text-align: center;">Ваш аккаунт не имеет доступа к этой странице.</p>
  {% else %}
    <p style="text-align: center;">Пожалуйста, войдите в аккаунт, чтобы увидеть эту страницу.</p>
  {% endif %}
{% endif %}
</p>

<form method="post" action="{% url 'login' %}" style=" margin-bottom: 10%;">
{% csrf_token %}

<table  width="200" border="1" align="center" >

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>
<p style="text-align: center;">
    <input type="submit" value="Войти" />
    <input type="hidden" name="next" value="{{ next }}"/>
</p>


</form>

{% endblock %}
<div class="copyright" style="bottom: 0, position: absolute; left: 50%; text-align: center;">This is the Website of Tomsk Industrial Electonics LLC.<br> We provide maintaince of manned oil and gas electronics.<br> Currently this website is under construction.<br> You can contact us by e-mail: service@tomprel.ru <br>All the best :)</div>

</body>



</html>