<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ Act.act_date }}</title>
    <style>
    td {border: 1px solid #000; padding-right: 10px; padding-left: 10px;}
    th {border: 1px solid #000; padding-right: 10px; padding-left: 10px;}
    table {border: 1px solid #000; font-family: Times New Roman;font-size: 14px; border-collapse: collapse;
    text-align: center;}
    p {font-family: Times New Roman; font-size: 16px;}
    </style>
</head>

<body>
<p style="text-align: center;">
ОБЩЕСТВО   С   ОГРАНИЧЕННОЙ   ОТВЕТСТВЕННОСТЬЮ
<br>
"ТОМСКАЯ ПРОМЫШЛЕННАЯ ЭЛЕКТРОНИКА"
<br>
(OOO "ТОМРЭЛ")
<br>
<div width="100%" style="padding: 0 0 0 0; border-collapse: separate; float:left; margin: 0 0 0 0;">
        г. Томск
</div>
<div width="100%" style="text-align:right; padding: 0 0 0 0; border-collapse: separate; margin: 0 0 0 0;">
        {{date}}
</div>
<br>
<p style=" margin: 0 0 0 0; padding-left:2.5%;">
    Настоящий акт составлен нижеподписавшимся техническим специалистом ООО
</p>
<p style="margin: 0 0 0 0; padding: 0 0 0 0;">
«ТОМПРЭЛ» в подтверждение проведения проверки технического состояния оборудования,
<br>
принятого от ООО «Газпромнефть-Автоматизация» для диагностики и ремонта.
</p>
<br>
Список оборудования приведен в таблице 1
<br>
<p style="text-align:right; margin: 0 0 0 0;">
Таблица 1
</p>
<table style="border-collapse: collapse; text-align: center; " width="100%">
      <tr>
      <th style ="padding-right: 20px; padding-left: 20px">№ п/п</th>
      <th>Наименование <br> оборудования</th>
      <th style ="padding-right: 0px; padding-left: 0px">Тип <br> оборудования, <br> датчика</th>
      <th>Кол-во, <br> шт.</th>
      <th>Заводской № <br> оборудования (по <br> паспорту) </th>
      <th>Место<br>установки<br>эксплуатации<br>(объект, м/р)</th>
      </tr>
{% for Device in devices %}

       <tr>
        <td>
            {%if Device.0%}
                {{ Device.0 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.1%}
                {{ Device.1 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.2 %}
                {{ Device.2 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>{{ Device.3 }}</td>
        <td>
            {%if Device.4 %}
                {{ Device.4 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>{{ Device.5 }}</td>
       </tr>


{% endfor %}
</table>
<br>
<b>По результатам проведенных диагностических работ выявлены:</b><br>
<b>{{diag_res}}</b>
<br><br>
<b>Заключение выдал:
Технический специалист ООО «ТОМПРЭЛ»</b>
<br><br>
___________________/_________________________/

</body>