<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список актов приёма-передачи</title>
    <style>
    table.button_group{padding: 10% 0 0 0; border-collapse: separate;}
    td.button{padding: 0 0 0 0; border-collapse: separate;}
    input.button{width: 100%; box-sizing: border-box;}
    </style>
</head>
<div >
{% for act in acts %}
    <a href="{% url 'act_url' act.2 %}">{{ act.0 }} {{ act.1 }}</a>
{% endfor %}
</div>
<table width="5%" class="button_group">
<tr>
    <td class="button">
        <form action="/" method="get" style="clear: both;">
    <input type="submit" value="Главное меню"  class="button">

        </form>
    </td>
</tr>

</table>

</body>
</html>