<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ date }}</title>
    <style>
    td {border: 1px solid #000; padding-right: 5px; padding-left: 5px;}
    th {border: 1px solid #000; padding-right: 5px; padding-left: 5px;}
    table {border: 1px solid #000; font-family: Times New Roman;font-size: 14px; border-collapse: collapse;
    text-align: center;}
    p {font-family: Times New Roman; font-size: 14px; hyphens: auto;}
    </style>
</head>

<body>
<p style="text-align: center;">
"ОБЩЕСТВО   С   ОГРАНИЧЕННОЙ   ОТВЕТСТВЕННОСТЬЮ
<br>
________________________________"
<br>
<br>
<br>
АКТ
<br>
приёма-передачи оборудования
</p>
{% csrf_token %}


<p style="float: left;">Место составления акта:_______________________________________</p>
<p style="float: right;">{{ date }}</p>
<br style="clear: both; font-size:1px; line-height: 0; height:0;" /> <!-- Очистка от эффекта обтекания -->

<p>
<br>
Мы, нижеподписавшиеся, составили настоящий акт о том, что представитель _____________________________________________________________________
<br>
<br>
передал, а представитель организации: _____________________________________________________________________________________
</p>

<table style="border-collapse: collapse; text-align: center;">
      <tr>
      <th style ="padding-right: 20px; padding-left: 20px">№ п/п</th>
      <th>Наименование <br> оборудования</th>
      <th style ="padding-right: 0px; padding-left: 0px">Тип <br> оборудования, <br> датчика</th>
      <th>Кол-во, <br> шт.</th>
      <th>Заводской № <br> оборудования (по <br> паспорту) </th>
      <th>Место<br>установки<br>эксплуатации<br>(объект, м/р)</th>
      <th>Дата согласов.<br>квитанции<br> заявки</th>
      <th>Тип работ<br>(поверка, ремонт)</th>
      <th>Комплектность<br>документов<br>(паспорт, акт)<br>оборудования</th>
      <th>Упаковка (ящик,<br>мешок,<br>коробка)</th>
      <th>ГАБАРИТЫ<br>(с учётом упаковки)<br>ДxШxВ,мм</th>
      <th>ВЕС<br>(с учётом упаковки)</th>
      <th>Место нахождения</th>
      </tr>
{% for Device in devices %}

       <tr>
        <td>
            {%if Device.0%}
                {{ Device.0 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.1%}
                {{ Device.1 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.2 %}
                {{ Device.2 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>{{ Device.3 }}</td>
        <td>
            {%if Device.4 %}
                {{ Device.4 }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>{{ Device.5 }}</td>
        <td>
            {%if Device.6%}
                {{ Device.6 }}
                    {%if Device.7%}
                        <br>
                        от
                        {{ Device.7 }}
                    {% endif %}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.8 %}
                {{ Device.8  }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.9 %}
                {{ Device.9  }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.10 %}
                {{ Device.10  }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
        {%if Device.11 %}{{ Device.11}}{% else %}-{% endif %}*{%if Device.12%}{{Device.12}}{% else %}-{% endif %}*{%if Device.13%}{{Device.13}}{% else %}-{% endif %}
        </td>
        <td>
            {%if Device.14%}
                {{ Device.14 }}
            {% else %}
                -
            {% endif %}
        </td>
           <td>
              {%if Device.15%}
                {{ Device.15 }}
            {% else %}
                -
            {% endif %}

        </td>
       </tr>


{% endfor %}


</table>
<p>
Подписи:
<br>
<br>
Представитель передающей стороны:
<br>
________________________________________________________________________________________________________________________
<br>
<br>
<br>
Представитель принимающей стороны:
<br>
________________________________________________________________________________________________________________________
<p>



</body>

<script>

</script>
</html>