<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ Act.act_date }}</title>
    <style>
        td {border: 1px solid #000; padding-right: 5px; padding-left: 5px;}
        th {border: 1px solid #000; padding-right: 10px; padding-left: 10px;}
        table {border: 1px solid #000; font-family: Times New Roman;font-size: 14px; border-collapse: collapse;
        text-align: center;}
    </style>
</head>

<body>

{% if user.is_superuser %}
<table>
      <tr>
      <th style="padding-right: 20px; padding-left: 20px">Серийный номер</th>
      <th>Год выпуска</th>
      <th>Наименование <br> оборудования</th>
      <th>Тип <br> оборудования</th>
      <th>Вид <br> оборудования</th>
      <th>Марка <br> оборудования</th>
      <th>Модель <br> оборудования</th>
      <th>Место установки, <br> эксплуатации</th>
      </tr>

{% for Device in Devices %}
       <tr>
        <td>
            {%if Device.device_id%}
                {{ Device.device_id }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.issue_year %}
                {{ Device.issue_year }}
            {% else %}
                -
            {% endif %}
        </td>
       <td>
            {%if Device.name %}
                {{ Device.name }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.type %}
                {{ Device.type }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {%if Device.denomination %}
                {{ Device.denomination }}
            {% else %}
                -
            {% endif %}
        </td>
       <td>
            {%if Device.brand %}
                {{ Device.brand }}
            {% else %}
                -
            {% endif %}
       </td>
       <td>
            {%if Device.model %}
                {{ Device.model }}
            {% else %}
                -
            {% endif %}
       </td>
       <td>
            {%if Device.birthplace %}
                {{ Device.birthplace }}
            {% else %}
                -
            {% endif %}
       </td>
       </tr>
{% endfor %}
{% endif %}

</table>
</body>
</html>