<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск акта</title>
    <style>
    .copyright {
        position: [I]justfily[/I];
        bottom: 1em;
        right: 1em;
        text-align: right;
        font-family: Times New Roman; font-size: 16px;
       }
        .l:link {
        font-size: 15pt;
        color: #ffffff;
       }
       .l:visited {color: #ffffff; }
       .l:active {color: #ffffff; }
       .l:hover {
        color: red; /* Цвет ссылки */
   }
    </style>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
</head>

<body>
<div style=" background-color: #282828; color: #ffffff; box-sizing: border-box;
    padding: 1%; margin-bottom: 0; width:100%;">
    <div style="text-align: right; margin-right: 1%; ">
    <a href="{% url 'logout' %}"  class="l" style="font-size: 12pt; ">Выход из аккаунта</a>
</div>

</div>
<div style="margin-bottom: 7%; margin-bottom: 0; padding-bottom:0;">
<p style="text-align: center; width:100%;">
    <img src="{% static 'images/logo.jpg' %}" width="161" height="199" alt="tomprel_logo">
</p>



<div style=" background-color: #282828; color: #ffffff; box-sizing: border-box;
    padding: 2%; width:100%;" >

<table border="1" cellpadding="5" width="100%">
    <tr>
        <td colspan="9" style="font-size: 22px; text-align: center;">
            Заполнение данных
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p style="text-align: center; margin:0; padding:0;">
                <a href='{% url "box_arrival" %}' class="l" style="align: center; margin:0; padding:0;">Прибыл прибор</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p style="text-align: center; margin:0; padding:0;">
                <a href='{% url "diagnostics" %}' class="l" style="align: center; margin:0; padding:0;">Диагностика</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p style="text-align: center; margin:0; padding:0;">
                <a href='{% url "repair" %}' class="l" style="align: center; margin:0; padding:0;">Ремонт</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p style="text-align: center; margin:0; padding:0;">
                <a href='{% url "act_list" %}' class="l" style="align: center; margin:0; padding:0;">Акты приёма-передачи</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p style="text-align: center; margin:0; padding:0;">
                <a href='{% url "act_list2" %}' class="l" style="align: center; margin:0; padding:0;">Акты дефектов</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p style="text-align: center; margin:0; padding:0;">
                <a href='{% url "act_list3" %}' class="l" style="align: center; margin:0; padding:0;">Акты ремонта</a>
            </p>
        </td>
    </tr>

</table>

</div>
<p class="copyright" style="text-align: center; margin-bottom: 0; padding-bottom:0;">This is the Website of Tomsk Industrial Electonics LLC.<br> We provide maintaince of manned oil and gas electronics.<br> Currently this website is under construction.<br> You can contact us by e-mail: service@tomprel.ru <br>All the best :)</p>
</div>
</body>
</html>