<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Ремонт</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <style>
        button {font-family: Times New Roman; font-size: 16px;}
input {font-family: Times New Roman; font-size: 16px;}
select {font-family: Times New Roman; font-size: 16px;}
input.file {font-family: Times New Roman; font-size: 16px;}
p.error {color: red; margin: 1.5% 0% 0% 0%; font-size: 18px; text-decoration: underline;}
    </style>
</head>
<body>
<div style="border-bottom:2px solid #777;"></div>
<form method="post" enctype="multipart/form-data" action="repair2"
          style="font-size: 16px; font-family: Times New Roman; margin: 0% 0 2% 0%;">
    	{% csrf_token %}
        {{repair_form.as_p}}
         <input type="Submit" name="submit" value="Сохранить в базу данных"/>
    <p class="error">{{rerror}}</p>
    </form>


<div style="border-bottom:2px solid #777;"></div>
<div style="float:left;
  margin-right:5px;
padding: 0 0 0 0; margin: 1.5% 0 1.5% 0;">

<table width="100%" style="padding: 0 0 0 0; border-collapse: separate;">
<tr>
    <td style="border-collapse: separate;">
        <form action="/" method="get" style="clear: both;">
    <input type="submit" value="Главное меню" style="width: 100%;
    box-sizing: border-box;">

        </form>
    </td>
</tr>
<tr>
    <td style=" border-collapse: separate;">
        <form action="diagnostics" method="get" style="clear: both;">
    <input type="submit" value="Диагностика" style="width: 100%;
    box-sizing: border-box;">

        </form>
    </td>
</tr>
</table>

</div>

<div style="float:left;
  margin-right:5px;
padding: 0 0 0 0; margin: 1.5% 0 1.5% 40%;">
<table width="100%" style="padding: 0 0 0 0; border-collapse: separate; ">
<tr>
    <td style="padding: 0 0 0 0; border-collapse: separate;">
        <form action="repair" method="get" style="clear: both;">
    <input type="submit" value="     Ремонт    " style="width: 100%;">
        </form>
    </td>
</tr>

</table>

</div>

</body>


</html>