<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Модальное окно</title>
	<link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <style>

    button {font-family: Times New Roman; font-size: 16px;}
    input {font-family: Times New Roman; font-size: 16px;}
    select {font-family: Times New Roman; font-size: 16px;}
    input.file {font-family: Times New Roman; font-size: 16px;}
    p.error {color: red; margin: 1.5% 0% 0% 0%; font-size: 18px; text-decoration: underline;}

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.6);
        z-index: 1000;
    }
    .modal .modal_content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;
        z-index: 99999;
    }
    .modal .modal_content .close_modal_window {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .modal_video{
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,1);
    }
    .modal_video .close_modal_window {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .modal_video .make_picture_button{
        padding: 10px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, -50%);
        background: #ffffff00;
        color: white;
        /* box-shadow: 0 0 1px 5px rgb(255 255 255); */
        cursor: pointer;
        border-radius: 10px;
        font-family: calibri;
        font-size: 16px;
        border: 1px;
        border-color: white;
        border-style: solid;
    }
    .device_choice_fields{
        padding-top: 5px;
        padding-bottom: 5px;
    }


    </style>
</head>
<body>

    <h1 style="margin: 1.5% 0 1.5% 10%;">Форма заполнения новых приборов</h1>

    <div class="container py-5">

        <div style="margin: 1.5% 0% 0% 0%; width:100%; font-family: Times New Roman;">
            <div style=" border-top:2px solid #777;">

                <p class="error">{{berror}}</p>
                <p class="error">{{rerror}}</p>
                <p class="error">{{sherror}}</p>
                <p class="error">{{werror}}</p>
                <button id="btn_modal_window" style="margin-top: 1.5%;">Новый ящик</button>
                <button id="btn_modal_window2" style="">Новая квитанция</button>

                <div style="">
                <form method="post" enctype="multipart/form-data" action="boxarrival4"
                      style="font-size: 16px; font-family: Times New Roman; margin: 0% 0 2% 0%;">
                    {% csrf_token %}
                    <div class="device_form">
                        <!--{{device_choice_form.as_p}}-->
                        {% for prop in device_choice_form %}
                            <div class = "device_choice_fields">{{prop.label}} {{prop}}</div>
                        {% endfor %}
                        <p>
                            <input type="button" id = "activate_camera_id" value="сделать снимок" style="padding-top: 10px; padding-bottom: 10px;">
                        </p>
                    </div>
                    <input type="Submit" name="submit" value="Сохранить в базу данных"/>
                </form>
                </div>

                <p class="error">{{berror}}</p>
                <p class="error">{{rerror}}</p>
                <p class="error">{{sherror}}</p>
                <p class="error">{{werror}}</p>

            </div>
            <div style="border-bottom:2px solid #777;"></div>

            <div style="float:left;
              margin-right:5px;
            padding: 0 0 0 0; margin: 1.5% 0 1.5% 0;">
                <form action="/" method="get" >
                    <input type="submit" value="На главную страницу">
                </form>
            </div>

            <div style="float:left;
              margin-right:5px;
            padding: 0 0 0 0; margin: 1.5% 0 1.5% 40%;">
                <table width="100%" style="padding: 0 0 0 0; border-collapse: separate;">
                    <tr>
                        <td style="padding: 0 0 0 0; border-collapse: separate;">
                            <form action="diagnostics" method="get" style="clear: both;">
                                <input type="submit" value="Диагностика" style="width: 100%;
                        box-sizing: border-box;">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5% 0 0 0; border-collapse: separate;">
                            <form action="/" method="get" style="clear: both;">
                                <input type="submit" value="Другой вариант" style="width: 100%;
                        box-sizing: border-box;">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div id="my_modal" class="modal">
        <div class="modal_content">
          <span class="close_modal_window">×</span>
          <div style="border-bottom:2px solid #777; border-top:2px solid #777;">

        <form method="post" enctype="multipart/form-data" action="boxarrival2"
              style="font-size: 16px; font-family: Times New Roman; margin: 0% 0 2% 0%;">
            {% csrf_token %}
            {{box_choice_form.as_p}}
             <input type="Submit" name="submit" value="Сохранить в базу данных"/>
        </form>

    </div>
        </div>
    </div>


    <div id="my_modal2" class="modal">
        <div class="modal_content">
            <span class="close_modal_window">×</span>
            <div style="border-bottom:2px solid #777; border-top:2px solid #777;">

                <form method="post" enctype="multipart/form-data" action="receipt"
                      style="font-size: 16px; font-family: Times New Roman; margin: 0% 0 2% 0%;">
                    {% csrf_token %}
                    {{receipt_choice_form.as_p}}
                     <input type="Submit" name="submit" value="Сохранить в базу данных"/>
                </form>

            </div>
        </div>
    </div>

    <div id = "video_modal" class="modal_video">
        <video id="cam_video_id" style="width: 100%; height: 100%; position: absolute; z-index: -1;"></video>
        <span class="close_modal_window">×</span>
        <canvas id="video_canvas" style="display: none;"></canvas>
        <img id="video_photo" style="display: none;">
        <input id="make_photo_button" type = "button" value = "сделать снимок" class="make_picture_button">
    </div>


    <div class="container py-5">

    </div>
</body>
<script>
    var modal = document.getElementById("my_modal");
    var modal2 = document.getElementById("my_modal2");
    var btn = document.getElementById("btn_modal_window");
    var btn2 = document.getElementById("btn_modal_window2");
    var span = document.getElementsByClassName("close_modal_window")[0];
    var span2 = document.getElementsByClassName("close_modal_window")[1];

    btn.onclick = function () {
        modal.style.display = "block";
    }
    btn2.onclick = function () {
        modal2.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }
    span2.onclick = function () {
        modal2.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    window2.onclick = function (event) {
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }
</script>

<script>
    var activate_camera = document.getElementById("activate_camera_id")
    var video_modal = document.getElementById("video_modal");
    var span = document.getElementsByClassName("close_modal_window")[2];
    var video = null
    activate_camera.onclick = function(event){
        video_modal.style.display = "block"
        video = document.getElementById("cam_video_id")
        var canvas = document.getElementById("video_canvas")
        var photo = document.getElementById("video_photo")
        var startbutton = document.getElementById("make_photo_button")

        var width = 320;    // We will scale the photo width to this
        var height = 0;     // This will be computed based on the input stream

        var streaming = false;

        function startup() {

        navigator.mediaDevices.getUserMedia({video: true, audio: false})
        .then(function(stream) {
          video.srcObject = stream;
          video.play();
        })
        .catch(function(err) {
          console.log("An error occurred: " + err);
        });

        video.addEventListener('canplay', function(ev){
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth/width);

            // Firefox currently has a bug where the height can't be read from
            // the video, so we will make assumptions if this happens.

            if (isNaN(height)) {
              height = width / (4/3);
            }

            video.setAttribute('width', width);
            video.setAttribute('height', height);
            canvas.setAttribute('width', width);
            canvas.setAttribute('height', height);
            streaming = true;
          }
        }, false);

        startbutton.addEventListener('click', function(ev){
          takepicture();
          ev.preventDefault();
        }, false);

        clearphoto();
        }

        // Fill the photo with an indication that none has been
        // captured.

        function clearphoto() {
        var context = canvas.getContext('2d');
        context.fillStyle = "#AAA";
        context.fillRect(0, 0, canvas.width, canvas.height);

        var data = canvas.toDataURL('image/png');
        photo.setAttribute('src', data);
        }

        // Capture a photo by fetching the current contents of the video
        // and drawing it into a canvas, then converting that to a PNG
        // format data URL. By drawing it on an offscreen canvas and then
        // drawing that to the screen, we can change its size and/or apply
        // other changes before drawing it.

        function takepicture() {
        var context = canvas.getContext('2d');
        if (width && height) {
          canvas.width = width;
          canvas.height = height;
          context.drawImage(video, 0, 0, width, height);

          var data = canvas.toDataURL('image/png');
          photo.setAttribute('src', data);
          photo_url = document.getElementsByName('photos')[0]
          photo_url.value = data
        } else {
          clearphoto();
        }
        }

        // Set up our event listener to run the startup process
        // once loading is complete.
        //window.addEventListener('load', startup, false);
        startup();
    }
    span.onclick = function(){
        video_modal.style.display = "none"
        video.srcObject.getTracks().forEach(function(track) {
          track.stop();
        });
    }
</script>


</html>