<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск акта</title>
</head>

<body>
<div style="margin-bottom: 7%;">
<p style="text-align: center;">
    <img src="{% static 'images/logo.jpg' %}" width="215" height="265" alt="tomprel_logo">
</p>

<p style="text-align: right;">
    <a href="{% url 'logout' %}">Выход из аккаунта</a>
<p>

<div style="margin-bottom: 3%;">
<form action="actlist" method="get" style="text-align: center;" >
    <label for="your_name">Поиск устройства по заводскому номеру: </label>
    <br>
    <input id="your_name" type="text" name="device_id">
    <input type="submit" value="OK">
</form>

<br><br>
{% if error1%}
<p style="text-align: center;">Устройство с заводским номером "{{errordevice}}" отсутствует в базе данных</p>
{% endif %}
{% if error2%}
<p style="text-align: center;">Состояния прибора "{{errordevice}}" отсутствуют в базе данных</p>
{% endif %}
{% if error3%}
<p style="text-align: center;">Акты, связанные с прибором "{{errordevice}}" отсутствуют в базе данных</p>
{% endif %}
</div>

{% if user.is_superuser %}
<form action="deviceslist" method="get" style="text-align: center; margin-bottom: 5%;" >
    <label for="your_name">Устройства в базе данных: </label>
    <br>
    <input type="submit" value="Открыть">
</form>
{% endif %}

</div>
<p style="text-align: center;">This is the Website of Tomsk Industrial Electonics LLC.<br> We provide maintaince of manned oil and gas electronics.<br> Currently this website is under construction.<br> You can contact us by e-mail: service@tomprel.ru <br>All the best :)</p>



</body>
</html>